#footer {
    background: #333333;
    margin: 50px -50px -50px;
    padding-bottom: 30px;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.05);
}

#footer #creators {
    text-align: center;
}

#footer #creators p {
    color: #fff;
}

.minor_goal {
    border: 2px solid;
    padding: 10px;
    cursor: pointer;
}

.major_goal {
    background: #ec5f99;
    color: #f7f7f7;
    padding: 10px;
    cursor: pointer;
}

.area {
    background: #e83d84;
    padding: 10px;
    font-weight: bold;
    font-size: larger;
    color: #f7f7f7;
}

.statustext {
    font-weight: bold;
    text-align: right;
}

.label-status {
    color: #292724;
    float: right;
}

.goaltext {
    background: #e0e1fa;
    padding: 10px;
}

#content {
    max-width: 1540px;
}

.thumbnail {
    padding: 0px;
}

.panel {
    position: relative;
}

.panel > .panel-heading:after, .panel > .panel-heading:before {
    position: absolute;
    top: 11px;
    left: -16px;
    right: 100%;
    width: 0;
    height: 0;
    display: block;
    content: " ";
    border-color: transparent;
    border-style: solid solid outset;
    pointer-events: none;
}

.panel > .panel-heading:after {
    border-width: 7px;
    border-right-color: #f7f7f7;
    margin-top: 1px;
    margin-left: 2px;
}

.panel > .panel-heading:before {
    border-right-color: #ddd;
    border-width: 8px;
}