#footer {
    background: #333333;
    margin: 50px -50px -50px;
    padding-bottom: 30px;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.05);
}

#footer #creators {
    text-align: center;
}

#footer #creators p {
    color: #fff;
}

.minor_goal {
    border: 2px solid;
    padding: 10px;
    cursor: pointer;
}

.major_goal {
    background: #ec5f99;
    color: #f7f7f7;
    padding: 10px;
    cursor: pointer;
}

.area {
    background: #e83d84;
    padding: 10px;
    font-weight: bold;
    font-size: larger;
    color: #f7f7f7;
}

.statustext {
    font-weight: bold;
    text-align: right;
}

.label-status {
    color: #292724;
    float: right;
}

.goaltext {
    background: #e0e1fa;
    padding: 10px;
}

#content {
    max-width: 1540px;
}