<div class="col-sm-12">
    <div class="hidden-xs col-sm-2">
        <div class="thumbnail" style="border:none">
            <img class="img-responsive user-photo"
                 src="https://zfinger.datasektionen.se/user/{{ comment.author.username }}/image">
        </div>
    </div>
    <div class="col-sm-10">
        <div class="panel panel-default">
            <div class="panel-heading" style="padding-bottom: 30px">
                <div>
                    <b class="pull-left">{{ comment.author.get_full_name }}</b>
                    <span class="text-muted pull-right">{{ comment.created|date:"Y-m-d H:i" }}</span>
                </div>
            </div>
            <div class="panel-body">
                {{ comment.content }}
            </div>
        </div>
    </div>
</div>