<div class="col-sm-12">
    <div class="hidden-xs col-sm-2">
        <div class="thumbnail" style="border:none">
            <img class="img-responsive user-photo"
                 src="https://zfinger.datasektionen.se/user/{{ comment.author.username }}/image">
        </div>
    </div>
    <div class="col-sm-10">
        <div class="panel panel-default">
            <div class="panel-heading" style="padding-bottom: 30px">
                <div>
                    <b class="pull-left">{{ comment.author.get_full_name }}</b>
                    <div class="pull-right">
                        <span class="text-muted">{{ comment.created|date:"Y-m-d H:i" }}</span>
                        {% if comment.author == user %}
                            <a class="btn btn-default" href="{% url 'vp-comment-edit' comment.id %}">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                            <a class="btn btn-danger" href="{% url 'vp-comment-delete' comment.id %}">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="panel-body">
                {{ comment.content }}
            </div>
            {% if comment.suggested_status %}
                <div class="panel-footer">
                    Föreslår statusen:
                    <div class="label label-suggested_status"
                         style="background: {{ comment.suggested_status.color }}; margin-left: 5px">
                        {{ comment.suggested_status }}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>