{% extends "verksamhetsplan/main.html" %}

{% block title %}{{ goal.long_term_goal.sub_area.operational_area.name }}{% endblock %}

{% block full_content %}

    <div class="col-md-10 col-md-offset-1">
        <ol class="breadcrumb">
            <li><a href="{% url 'vp-operational_plan' goal.year %}">{{ goal.year }}</a></li>
          <li><a href="{% url 'vp-operational_area' goal.year goal.long_term_goal.sub_area.operational_area %}">
              {{ goal.long_term_goal.sub_area.operational_area }}
          </a></li>
          <li><a href="{% url 'vp-long_goal' goal.long_term_goal.id %}">
              Långsiktigt mål
          </a></li>
          <li class="active">Mål</li>
        </ol>
        <h1>Mål
            <div class="float-right label label-status"
                 style="background: {{ goal.status.color }};">
                    {{ goal.status }}
            </div>
        </h1>


        <div class="well goaltext">{{ goal.goal }}</div>

        {% if goal.description %}
            <h2>Beskrivning</h2>
            <p> {{ goal.description }}</p>
        {% endif %}
        <h2>Kommentarer</h2>
        {% for comment in goal.comment_set.all %}
            {% include "verksamhetsplan/commentdiv.html" %}
        {% empty %}
            Det finns inga kommentarer.
        {% endfor %}
        {% if user.is_authenticated %}
            {% include "verksamhetsplan/create_comment.html" %}
        {% endif %}

    </div>
{% endblock %}