{% extends 'verksamhetsplan/main.html' %}

{% block full_content %}
    <div class="col-md-10 col-md-offset-1">
        <h1>{{ group.name }}</h1>

        {% if goals %}
            <p>{{ group.name|capfirst }} är ansvarig för följande verksamhetsmål:</p>
        {% else %}
            <p>{{ group.name|capfirst }} är inte ansvarig för några verksamhetsmål.</p>
        {% endif %}
        {% for goal in goals %}
            {% ifchanged goal.year %}
                <h3>{{ goal.year }}</h3>
            {% endifchanged %}
            {% include "verksamhetsplan/goaldiv.html" %}
        {% endfor %}
    </div>
{% endblock %}