{% extends 'verksamhetsplan/main.html' %}
{% load filters %}

{% block title %}{{ operational_area.name }}{% endblock %}

{% block full_content %}
    <div>
        {% for goal in goals %}
            {% with goals|prev:forloop.counter0 as prev %}
                {% ifchanged goal.long_term_goal.sub_area %}
                    <div class="minor_goal">
                        Create new goal for area: {{ prev.long_term_goal.sub_area }}
                    </div>
                    <div class="area">
                        {{ goal.long_term_goal.sub_area }}
                    </div>
                {% endifchanged %}
                {% ifchanged goal.long_term_goal %}
                    <div class="major_goal" onclick="window.location='{% url 'vp-long_goal' goal.long_term_goal.id %}'">
                        <div>{{ goal.long_term_goal }}</div>
                    </div>

                {% endifchanged %}
                {% include "verksamhetsplan/goaldiv.html" %}
            {% endwith %}
        {% endfor %}
    </div>
{% endblock %}